# Copy to terraform.tfvars and edit
# Run Terraform FROM masternode; VM created ON homelab (qemu+ssh)

libvirt_uri = "qemu+ssh://jashandeepjustinbains@192.168.4.62/system?keyfile=%2Fhome%2Fjjbly%2F.ssh%2Fid_rsa_libvirt"
pool_name      = "default"
vm_name        = "windows-thinclient"
memory_mb      = 12288
vcpus          = 4
os_disk_size_gb   = 64
data_disk_size_gb = 100

# Path to Windows ISO ON homelab (full path)
iso_path = "/home/vmadmin/iso/en-us_windows_11_business_editions_version_25h2_updated_feb_2026_x64_dvd_9271bf68.iso"

# Network: "default" for NAT, or "br0" for bridge
network_name = "default"

# Pinned MAC - keep stable for Windows activation
mac_address = "52:54:00:00:f0:0d"
