[defaults]
inventory = inventory/hosts.yml
# remote_user comes from inventory (jashandeepjustinbains on homelab)
host_key_checking = False
retry_files_enabled = False
gather_facts = true
stdout_callback = yaml
callbacks_enabled = timer, profile_tasks

[privilege_escalation]
become = true
become_method = sudo
